@tailwind base;
@tailwind components;
@tailwind utilities;




@layer base {
  html {
    @apply text-neutral-800;
  }
  html.dark {
    @apply text-neutral-50;
  
  }
}

.carousel-wrapper {
  height: 300px; /* Adjust height as needed */
}

.carousel-inner {
  transition: transform 0.3s ease-in-out;
}

.carousel-item img {
  object-fit: cover;
}
